" nnoremap <SPACE> <Nop>
" let mapleader="\<Space>"

let mapleader = '\<space>'
let g:EasyMotion_override_acejump = 0
let g:EasyMotion_startofline = 0
"Turn on case insensitive feature
let g:EasyMotion_smartcase = 1
"Use upper target 标签 and 请键入 as a lower case
let g:EasyMotion_use_upper = 0


"语法高亮
set syntax on
"显示行号
set number relativenumber
"显示光标所在位置的行号和列号
set ruler
" 命令模式下，在底部显示，当前键入的指令
set showcmd
" 基于缩进或语法进行代码折叠
set foldmethod=indent
set foldmethod=syntax
" 启动 vim 时关闭折叠代码
set nofoldenable
 "自动折行
set wrap
set shiftwidth=4
set tabstop=4
set softtabstop=4
" set expandtab                  "将tab替换为相应数量空格
set smartindent
" set backspace=2
set co=5
set de=on
" 垂直滚动时，光标距离顶部/底部的位置（单位：行）
set scrolloff=5

" 水平滚动时，光标距离行首或行尾的位置（单位：字符）。该配置在不折行时比较有用
set sidescrolloff=15

"设置取消备份 禁止临时文件生成
set nobackup
set noswapfile
" 不要使用vi的键盘模式，而是vim自己的
set nocompatible
” 下一行和上一行的格式相同
set cindent
" 设置在状态栏显示按键
set showcmd
” 总是显示状态栏
set showtabline=2
set laststatus=2
" 设置vim操作的等待时间
set ttimeout
set ttimeoutlen=100
set notimeout
"设置匹配模式 类似当输入一个左括号时会匹配相应的那个右括号
set showmatch
" 按下回车键后，下一行的缩进会自动跟上一行的缩进保持一致
set autoindent
set clipboard^=unnamed,unnamedplus
set laststatus=2   "命令行为两行
set fenc=utf-8     "文件编码
set mouse=a        "启用鼠标
set ignorecase     "忽略大小写
" 显示当前模式
set showmode
set smartcase
set cursorline     "突出显示当前行
"set cursorcolumn   "突出显示当前列
set fdm=marker
" 通过使用: commands命令，告诉我们文件的哪一行被改变过
set report=0
" 允许退格键在以下场景下正常执行
set backspace=indent,eol,start
" 出错时，不要发出响声
set noerrorbells
" 在被分割的窗口间显示空白，便于阅读
set fillchars=vert:\ ,stl:\ ,stlnc:\
set hlsearch
" 输入搜索模式时，每输入一个字符，就自动跳到第一个匹配的结果
set incsearch

"jk退出insert模式
inoremap jk <ESC>

" ==================================================
" 插件篇
" ==================================================

" {action}s{surround symbol} {target symbol}
set surround

set exchange

set highlightedyank

" {action}ae -> {action}entire-content
set textobj-entire

" 设置目录树
set NERDTree
" nerdtree
map <Leader>et :NERDTreeToggle<CR>
nnoremap <Leader>dt :NERDTreeFocus<CR>

" 为IdeaVim插件增加自动切换为英文输入法的功能,
" idea 需要安装 IdeaVimExtension plugin
" set keep-english-in-normal
" nokeep-english-in-normal-and-restore-in-insert
set keep-english-in-normal-and-restore-in-insert

" argtextobj插件
set argtextobj

" EasyMotion依赖于IdeaVim-EasyMotion 和 AceJump 两个插件
set easymotion

" multiple-cursors
set multiple-cursors
" Remap multiple-cursors shortcuts for Mac
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap <C-x> <Plug>SkipOccurrence
xmap <C-x> <Plug>SkipOccurrence
nmap <C-p> <Plug>RemoveOccurrence
xmap <C-p> <Plug>RemoveOccurrence
nmap <S-C-n> <Plug>AllWholeOccurrences
xmap <S-C-n> <Plug>AllWholeOccurrences

" 注释插件模拟
set commentary

" ==================================================
" Leader 键篇
" ==================================================

"Idea action 配置

set ideajoin
set idearefactormode=keep

" clear the highlighted search result
nnoremap <Leader>sc :nohlsearch<CR>

" easymotion
" nmap <Leader>f <Plug>(easymotion-s)
" move to character
nmap f <Plug>(easymotion-s2)
xmap f <Plug>(easymotion-s2)
omap f <Plug>(easymotion-s2)
" move to word
nmap F <Plug>(easymotion-bd-w)
xmap F <Plug>(easymotion-bd-w)
omap F <Plug>(easymotion-bd-w)

nmap l <Plug>(easymotion-lineforward)
xmap l <Plug>(easymotion-lineforward)
omap l <Plug>(easymotion-lineforward)

nmap j <Plug>(easymotion-j)
omap j <Plug>(easymotion-j)
xmap j <Plug>(easymotion-j)

nmap k <Plug>(easymotion-k)
xmap k <Plug>(easymotion-k)
omap k <Plug>(easymotion-k)

nmap h <Plug>(easymotion-linebackward)
xmap h <Plug>(easymotion-linebackward)
omap h <Plug>(easymotion-linebackward)

" move to line
" nmap gl <Plug>(easymotion-bd-jk)
" xmap gl <Plug>(easymotion-bd-jk)
" omap gl <Plug>(easymotion-bd-jk)
" Press `f` to activate AceJump
nnoremap f :<C-u>action AceAction<CR>
" Press `F` to activate Target Mode

" 查找和替换
noremap \s :%s//g<left><left>

" 查找到的内容居中
nnoremap <silent> n nzz
nnoremap <silent> N Nzz
nnoremap <silent> * *zz
nnoremap <silent> # #zz
nnoremap <silent> g* g*zz

" 打开所有的折叠
noremap zr zR

" 关闭所有的折叠
noremap zm zM

" 重命名元素
nnoremap <Leader>re :action RenameElement<CR>
" 重命名文件
nnoremap <Leader>rf :action RenameFile<CR>

" 重构变量
nnoremap <Leader>rp :action Replace<CR>
nnoremap <leader>rpi :action ReplaceInPath<CR>

" 实现方法
nnoremap <Leader>im :action ImplementMethods<CR>
" 复制路径
nnoremap <Leader>cr :action CopyReference<CR>

" basic key mapping
" L 移动到行尾
nnoremap L $
vnoremap L $

" 在插入模式下快速到行尾和行首
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
inoremap <C-a> <Home>
inoremap <C-e> <End>

" H 移动到行首
vnoremap H ^
nnoremap H ^

nnoremap ; :
nnoremap ` ,

" Redo
nnoremap U <C-r>

" 显示 information
nnoremap <C-I> :<C-u>action QuickJavaDoc<CR>



" Quit normal mode
nnoremap <Space>q  :action CloseProject<CR>
nnoremap <Space>Q  :qa!<CR>

" 多窗口操作
" 清除窗口
nnoremap <Leader>wq <C-W>c
" 光标窗口切换
nnoremap <Leader>ww <C-W>w
nnoremap <Leader>wj <C-W>j
nnoremap <Leader>wk <C-W>k
nnoremap <Leader>wh <C-W>h
nnoremap <Leader>wl <C-W>l
" 纵向新增窗口
nnoremap <Leader>ws <C-W>s
" 横向新增窗口
nnoremap <Leader>we <C-W>v

" 在窗口间跳转
noremap sj :set nosplitbelow<CR>:split<CR>:set splitbelow<CR>
noremap sk :set splitbelow<CR>:split<CR>
noremap sh :set nosplitright<CR>:vsplit<CR>:set splitright<CR>
noremap sl :set splitright<CR>:vsplit<CR>

" 关闭下方窗口
noremap <LEADER>jq <C-w>j:q<CR>

" v 列选择
nnoremap <Leader>v <C-V>

" hl 前进后退
nnoremap <Leader>h :action Back<CR>
nnoremap <Leader>l :action Forward<CR>

" jk 错误定位
nnoremap <Leader>k :action GotoPreviousError<CR>
nnoremap <Leader>j :action GotoNextError<CR>

" 最近文件, 最近位置 列表显示
nnoremap <Leader>e :action RecentFiles<CR>
nnoremap <Leader>E :action RecentLocations<CR>

" 书签操作
nnoremap <Leader>q :action ToggleBookmark<CR>
nnoremap <Leader>Q :action ShowBookmarks<CR>
nnoremap m :action ToggleBookmarkWithMnemonic<CR>
nnoremap ` :action ShowBookmarks<CR>


" 查看使用案例
nnoremap <Leader>D :action FindUsages<CR>

" 展示错误信息
nnoremap <Leader>a :action ShowErrorDescription<CR>

" 使用 ESLint 格式化代码
nnoremap <Leader>T :action Javascript.Linters.EsLint.Fix<CR>

" 展示文件路径 可以快速打 Finder 中打开
nnoremap <Leader>fd :action ShowFilePath<CR>

" Ace jump
" 在 Target 模式下会跳转到目标，并选中目标整个Word"
nnoremap F :<C-u>action AceTargetAction<CR>

nnoremap <Leader>ad :action NewClass<CR>
" 新建包
nnoremap <Leader>nd :action NewDir<CR>


" 选择打开的文件
nnoremap <Leader>\ :action SelectInProjectView<CR>

nnoremap <Leader>kk :action ActivateProjectToolWindow<CR>

" 显示隐藏 Todo List
nnoremap <Leader>A :action ActivateTODOToolWindow<CR>

" 显示隐藏 Git Commit
nnoremap <Leader>gc :action ActivateCommitToolWindow<CR>

" 隐藏激活面板
nnoremap <Leader>z :action HideActiveWindow<CR>

" 打开idea的文件窗
nnoremap <Leader>or :action FileMenu<CR>

" 引入常量
nnoremap <Leader>ic :action IntroduceConstant<CR>

" 引入变量
nnoremap <Leader>iv :action IntroduceVariable<CR>

" 环绕代码片段
nnoremap <Leader>sw :action SurroundWith<CR>

" 提取方法
nnoremap <Leader>ef :action ExtractMethod<CR>
vnoremap <Leader>ef :action ExtractFunction<CR>

" 打开Terminal工具视图
nnoremap <Leader>tl Vy<CR>:action ActivateTerminalToolWindow<CR>
vnoremap <Leader>tl y<CR>:action ActivateTerminalToolWindow<CR>

" 查看使用帮助
" nnoremap m :actionlist<CR>
" 复制路径
nnoremap <Leader>cc :action CopyReferencePopupGroup<CR>

" 上一个页签
nnoremap tn gt

" 下一页签
nnoremap tp gT

" 数字加减
nnoremap <Leader>- <C-x>
nnoremap <Leader>= <C-a>

" 主题列表
nnoremap <Leader>1 :action ChangeLaf<CR>

" edit vimrc
nnoremap <leader>ve :e ~/.ideavimrc<CR>
nnoremap <leader>vw :w!<CR>
nnoremap <leader>vs :source ~/.ideavimrc<CR>

" 跳转到测试类(没有则自动建立)
nnoremap <Leader>gt :action GotoTest<CR>

" maven窗口
nnoremap <Leader>mv :action ActivateMavenToolWindow<CR>


" intellij built in key map
" 转到操作
" nnoremap <leader>a :action GotoAction<CR>
" 转到类
nnoremap <leader>tc :action GotoClass<CR>
"nnoremap <leader>se :action SearchEverywhere<CR>
"nnoremap <leader>fp :action FindInPath<CR>
" 比较git分支
nnoremap <leader>gw :action Git.CompareWithBranch<CR>
" 查看git分支
nnoremap <leader>gb :action Git.Branches<CR>
" git注释
nnoremap <leader>ga :action Annotate<CR>
" 显示git历史记录
nnoremap <leader>gh :action Vcs.ShowTabbedFileHistory<CR>
"toggle something
"toggle track vim action Id
nnoremap ta :action VimFindActionIdAction<CR>

" run and debug
nnoremap ,d :action Debug<CR>
nnoremap D :<C-u>action ChooseRunConfiguration<CR>
" 运行
nnoremap ,r :action Run<CR>
" 编译
nnoremap ,c :action CompileDirty<CR>
" 切换断点
nnoremap ,b :action ToggleLineBreakpoint<CR>
" 查看断点
nnoremap ,v :action ViewBreakpoints<CR>
" 停止
nnoremap ,s :action Stop<CR>
" navigation
" 转到父类方法
nnoremap gs :action GotoSuperMethod<CR>
" 跳到最后一次更改
nnoremap gb :action JumpToLastChange<CR>
" 转到实现
nnoremap gi :action GotoImplementation<CR>
" 跳转到定位
nnoremap <M-b> :action GotoDeclaration<CR>
" 展示文件内的大纲
nnoremap gf :action FileStructurePopup<CR>
" 主屏模式
nnoremap <Leader>tfs :action ToggleFullScreen<CR>
" 参数信息
nnoremap <leader>p :action ParameterInfo<CR>
" 打开ContextMenu
nnoremap <Leader>pm :action ShowPopupMenu<CR>
" 格式化代码
nnoremap == :action ReformatCode<CR>
vnoremap = :action ReformatCode<CR>
" 优化导入
nnoremap -- :action OptimizeImports<CR>
" 按行注释
" nnoremap cc :action CommentByLineComment<CR>
" vnoremap cc :action CommentByLineComment<CR>
" window
nnoremap s; :<C-u>action CloseActiveTab<CR>
nnoremap so :<C-u>action MoveEditorToOppositeTabGroup<CR>